#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.calendar-wrapper {
  background-color: rgb(110, 18, 40);
  color: white;
  padding: 1.5rem 3rem;
  border-radius: 0.3rem;
}

.calendar-header {
  display: flex;
  flex-direction: row;
  border-color: white;
  border-style: dashed;
  align-items: center;
  justify-content: center;
}


.calendar-button {
  background-color: rgba(0, 0, 0, 0);
  height: 3rem;
  align-items: center;
  justify-content: center;
  border-color: white;
  border-radius: 0.3rem;
  color: white;
  font-size: 1rem;
  margin: 1rem;
}

.calendar-text {
  padding: 0rem 1rem;
}

.calendar-days-wrapper {
  display: grid;
  gap: 0.1rem;
  text-align: center;
  grid-template-columns: repeat(8, 1fr);
}

.days-header {
  border-color: white;
  border-style: dotted;
  min-height: 2rem;
}

.hour-intervals {
  background-color: rgb(52, 188, 138);
  padding: 0.2rem;
}

.hour-intervals-empty {
  min-height: 2rem;
  background-color: bisque;
}